@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


/* setting the root colors */
:root{
/* colors - visual identity */
    --purple50: #f2e9ff;
    --purple100: #d7baff;
    --purple200: #c499ff;
    --purple300: #a96bfe;
    --purple400: #994efe;
    --purple500: #7f22fe;
    --purple600: #741fe7;
    --purple700: #5a18b4;
    --purple800: #46138c;
    --purple900: #350e6b;

/* colors - ui tokens */
    --green_300: #188A42;
    --green_200: #22C55E;
    --green_100: #48CF79;

    --red_300: #9A1B1B;
    --red_200: #DC2626;
    --red_100: #EB8181;

    --shadow: #21212152;

}


/* reseting defaults and setting global components */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

