@import url('style.css');

/* desktop nav microinteractions */
.desktop_link_item:hover::after{ width: 100%; height: 2px;}

.desktop_link_item:hover{ color: var(--purple400);}

/* buttons microinteractions */
.primary_button:hover{ background-color: var(--purple300);}

.secondary_button:hover{
    color: var(--purple200);
    border-color: var(--purple200);
}


/* coddy presentation animation */
@keyframes coddy_animation{
    0%, 100%{transform: translateY(50px);}
    50%{transform: translateY(0);}
}

@keyframes shaddow_coddy{
    0%, 100%{width: 100%;}
    50%{width: 70%;}
}

.coddy_image img{
    animation: coddy_animation 6s linear infinite ;
}

.shadow_coddy{
    animation: shaddow_coddy 6s linear infinite;
}


/* about animations */
.experiences_header:hover{
    color: var(--purple500);
    border-color: var(--purple500);
}

/* social media */
.socialmedia_item:hover{color: var(--purple300);}

/* footer */
.footerLink:hover{
    color: var(--purple500);
}