@import url('global.css');



#userName_input.error{
    border: 2px solid var(--red300);
    color: var(--red300);
    font-weight: bolder;
}

#userName_input.valid{
    border: 2px solid var(--green300);
    color: var(--green300);
    font-weight: bolder;

}

.triggerMessage.error{
    border: 2px solid var(--red300);
    background-color: var(--red100);
    color: var(--red300);
}

.triggerMessage.valid{
    border: none; background-color: none; color: none;
}